*{
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #ffffff;     
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(WebsiteImages/ElecBackground.png);
    background-size: cover; 
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140 px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3174fb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text p{
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 1px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px; 
}
.header-text h1 span{
    color: #3174fb;
}
.header-text h2{
    font-size: 20px;
    margin-top: 50px;
}
/*-------------------------about------------------*/
#about{
    padding: 80px 0;
    color: #ababaa;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutCol1{
    flex-basis: 35%;
}
.aboutCol1 img{
    margin-top: 40px;
    width: 100%;
    border-radius: 15px; 
}
.aboutCol2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}   
.aboutDescription {
    font-size: 19px;
    font-weight: 450; 
}

.tabTitles{
    display: flex;
    margin: 20px 0 40px;
}
.tabLinks{
    margin-right: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tabLinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3174fb;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tabLinks.activeLink::after{
    width: 75%;
}
.tabContents ul li{
    list-style: none;
    margin: 10px 0;
}
.tabContents ul li span{
    color: #3174fb;
    font-size: 20px;
    font-weight:500; 
}
.tabContents{
    display: none; 
}
.tabContents.activeTab{
    display: block;
}


/*-------------------------Service------------------*/
#service{
    padding: 30px 0;
}
.serviceList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    justify-items: center;
}
.serviceList div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}
.serviceList div i{
    font-size: 50px; 
    margin-bottom: 30px;
}
.serviceList div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.serviceList div a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}
.serviceList div:hover{
    background: #3174fb;
    transform: translateY(-15px);
}
/*-----------------------------Portfolio-----------------*/ 
#projects{
    padding: 50px 0;
}
.subtitle h1{
    font-size: 60px;
}
.subtitle h2{
    font-size: 20px;
    font-weight: 400; 
}
.workList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%; 
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%; 
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #3174fb);
    border-radius: 10px;
    position: absolute;
    left: 0; 
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.7s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #3174fb;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.25);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 75px auto;
    width: fit-content;
    border: 2px solid #3174fb;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5ss;
}
.btn:hover{
    background: #3174fb;
}

/*---------------------------------Contact--------------------*/ 
.contactLeft{
    flex-basis: 35%;
}
.contactRight{
    flex-basis: 60%;
}
.contactLeft p{
    margin-top: 30px;
}
.contactLeft p i{
    color: #3174fb;
    margin-top: 15px;
    font-size: 25px;
}
.socialIcons{
    margin-top: 30px;
}
.socialIcons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: #ababaa;
    display: inline-block;
    transition: transform 0.5s;
}
.socialIcons a:hover{
    color: #3174fb;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #3174fb;
}
.contactRight form{
    width: 100%;    
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff; 
    font-size: 15px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.footer i{
    color: #3174fb; 
}
/*--------------------------------css for phone screen---------------------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(WebsiteImages/ElecBackground.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #3174fb;
        position: fixed; 
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .aboutCol1, .aboutCol2{
        flex-basis: 100%;
    }
    .aboutCol1{
        margin-bottom: 30px;
    }
    .aboutCol2{
        font: 14px;
    }
    .tabLinks{
        font-size: 16px;
        margin-right: 20px;
    }
    .contactLeft, .contactRight{
        flex-basis: 100%;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
    font-size: 20px;
}
